<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>NP-SS</string>
		<key>lineColor</key>
		<string>green</string>
		<key>fromStation</key>
		<string>North Park</string>
		<key>toStation</key>
		<string>Sheldon Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>SS-GR</string>
		<key>fromStation</key>
		<string>Sheldon Street</string>
		<key>toStation</key>
		<string>Greenland</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>GR-CC</string>
		<key>fromStation</key>
		<string>Greenland</string>
		<key>toStation</key>
		<string>City Centre</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>CC-SH</string>
		<key>fromStation</key>
		<string>City Centre</string>
		<key>toStation</key>
		<string>Stadium House</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>SS-GH</string>
		<key>fromStation</key>
		<string>Stadium House</string>
		<key>toStation</key>
		<string>Green House</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>GH-GC</string>
		<key>fromStation</key>
		<string>Green House</string>
		<key>toStation</key>
		<string>Green Cross</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>GC-SP</string>
		<key>fromStation</key>
		<string>Green Cross</string>
		<key>toStation</key>
		<string>South Pole</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>green</string>
		<key>identifier</key>
		<string>SP-SO</string>
		<key>fromStation</key>
		<string>South Pole</string>
		<key>toStation</key>
		<string>South Park</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>WE-BA</string>
		<key>fromStation</key>
		<string>West End</string>
		<key>toStation</key>
		<string>Boxing Avenue</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>BA-BS</string>
		<key>fromStation</key>
		<string>Boxing Avenue</string>
		<key>toStation</key>
		<string>Boxers Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>BS-RS</string>
		<key>fromStation</key>
		<string>Boxers Street</string>
		<key>toStation</key>
		<string>Rocky Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>RS-MM</string>
		<key>fromStation</key>
		<string>Rocky Street</string>
		<key>toStation</key>
		<string>Maximus</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>MM-PP</string>
		<key>fromStation</key>
		<string>Maximus</string>
		<key>toStation</key>
		<string>Peter Park</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>PP-CC</string>
		<key>fromStation</key>
		<string>Peter Park</string>
		<key>toStation</key>
		<string>City Centre</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>CC-FS</string>
		<key>fromStation</key>
		<string>City Centre</string>
		<key>toStation</key>
		<string>Football Stadium</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>FS-FO</string>
		<key>fromStation</key>
		<string>Football Stadium</string>
		<key>toStation</key>
		<string>Foot Stand</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>blue</string>
		<key>identifier</key>
		<string>FO-EE</string>
		<key>fromStation</key>
		<string>Foot Stand</string>
		<key>toStation</key>
		<string>East End</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>EE-GS</string>
		<key>fromStation</key>
		<string>East End</string>
		<key>toStation</key>
		<string>Gotham Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>GS-BS</string>
		<key>fromStation</key>
		<string>Gotham Street</string>
		<key>toStation</key>
		<string>Batman Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>BS-JS</string>
		<key>fromStation</key>
		<string>Batman Street</string>
		<key>toStation</key>
		<string>Joker Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>JS-HS</string>
		<key>fromStation</key>
		<string>Joker Street</string>
		<key>toStation</key>
		<string>Hawkins Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>HS-DV</string>
		<key>fromStation</key>
		<string>Hawkins Street</string>
		<key>toStation</key>
		<string>Da Vinci Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>DV-SP</string>
		<key>fromStation</key>
		<string>Da Vinci Lane</string>
		<key>toStation</key>
		<string>South Park</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>SP-NB</string>
		<key>fromStation</key>
		<string>South Park</string>
		<key>toStation</key>
		<string>Newton bath tub</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>NB-EL</string>
		<key>fromStation</key>
		<string>Newton bath tub</string>
		<key>toStation</key>
		<string>Einstein Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>black</string>
		<key>identifier</key>
		<string>EL-NL</string>
		<key>fromStation</key>
		<string>Einstein Lane</string>
		<key>toStation</key>
		<string>Neo Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>yellow</string>
		<key>identifier</key>
		<string>GC-OS</string>
		<key>fromStation</key>
		<string>Green Cross</string>
		<key>toStation</key>
		<string>Orange Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>yellow</string>
		<key>identifier</key>
		<string>OS-SK</string>
		<key>fromStation</key>
		<string>Orange Street</string>
		<key>toStation</key>
		<string>Silk board</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>yellow</string>
		<key>identifier</key>
		<string>SK-SN</string>
		<key>fromStation</key>
		<string>Silk board</string>
		<key>toStation</key>
		<string>Snake Park</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>yellow</string>
		<key>identifier</key>
		<string>SN-ML</string>
		<key>fromStation</key>
		<string>Snake Park</string>
		<key>toStation</key>
		<string>Morpheus Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>yellow</string>
		<key>identifier</key>
		<string>ML-LS</string>
		<key>fromStation</key>
		<string>Morpheus Lane</string>
		<key>toStation</key>
		<string>Little Street</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>yellow</string>
		<key>identifier</key>
		<string>LS-CG</string>
		<key>fromStation</key>
		<string>Little Street</string>
		<key>toStation</key>
		<string>Cricket Grounds</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>NL-TL</string>
		<key>fromStation</key>
		<string>Neo Lane</string>
		<key>toStation</key>
		<string>Trinity Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>TL-ML</string>
		<key>fromStation</key>
		<string>Trinity Lane</string>
		<key>toStation</key>
		<string>Morpheus Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>ML-SL</string>
		<key>fromStation</key>
		<string>Morpheus Lane</string>
		<key>toStation</key>
		<string>Smith Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>SL-CL</string>
		<key>fromStation</key>
		<string>Smith Lane</string>
		<key>toStation</key>
		<string>Cypher Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>CL-BA</string>
		<key>fromStation</key>
		<string>Cypher Lane</string>
		<key>toStation</key>
		<string>Boxing Avenue</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>BA-OL</string>
		<key>fromStation</key>
		<string>Boxing Avenue</string>
		<key>toStation</key>
		<string>Oracle Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>OL-KL</string>
		<key>fromStation</key>
		<string>Oracle Lane</string>
		<key>toStation</key>
		<string>Keymakers Lane</string>
	</dict>
	<dict>
		<key>lineColor</key>
		<string>red</string>
		<key>identifier</key>
		<string>KL-MS</string>
		<key>fromStation</key>
		<string>Keymakers Lane</string>
		<key>toStation</key>
		<string>Matrix Stand</string>
	</dict>
</array>
</plist>
